/* components/Footer.css */

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: relative;
    /* left: 0;
    bottom: 0;
    width: 100%; */
    color: #495057;
    font-size: 14px;
    border-top: 1px solid #dee2e6;
    margin-top: 10rem;
}
